@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

*::selection {
    color: #fff;
    background-color: #000;
}

html , body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
