@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

*::selection {
    color: #fff;
    background-color: #000;
}

html , body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#cursor {
    height: 270px;
    width: 270px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 50px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: palegoldenrod;
}



#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}

@media (max-width:600px) {
     #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}

.para{
    font-size: 3vw;
    text-transform: uppercase;
    font-family: Futura;
    line-height: 7cqb;
    letter-spacing: -2px;
    padding-left: 8px;
}

#between {
    height: 10vh;
    width: 100%;
    margin-bottom: 10%;
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;

}
#between .para{
    margin-left: 0px;
}

#between2 p {
    padding-left: 80px;
    margin-bottom: 40px;
    line-height: 20px;
    margin-left: 98px;
    font-family: Arial, Helvetica, sans-serif;
    
}
a {
    color: #000;
    font-family: 'ABC Social Mono - 500';
    font-size: 12px;
    margin-bottom: 12px;

;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding-left: 80px;
    margin-bottom: 40px;
    line-height: 25px;
    margin-left: 98px;
    font-family: Arial, Helvetica, sans-serif;
} 
